[experiment]
tasks = ["wikitext2"]
seed = 42
device = "cuda"

[model]
arch = "nano_gpt"
vocabulary_size = 40479
embedding_size = 768
sequence_length = 256
num_heads = 12
num_layers = 4

[data]
batch_size = 8
num_workers = 0
tokenizer_path = "./data/wikitext2_tokenizer.json"

[optimizer]
name = "Muon"
lr = 0.0001
weight_decay = 0.1
momentum = 0.95

[train]
epochs = 30
log_every = 10
ckpt_every = 2